
body {
  background-color:darkteal;
  
}

.vertical-menu {
    width: 200px; /* Set a width if you like */
}

.vertical-menu a {
    background-color: #eee;
    color: black; 
    display: block; 
    padding: 12px;
    text-decoration: none; 
}

.vertical-menu a:hover {
    background-color: #ccc; 
}

.vertical-menu a.active {
    background-color: #4CAF50; 
    color: white;
}

title{
    color: alice
    ;
    font-family: Averia_Serif_Libre;
}

h1{
font-family: Averia_Serif_Libre;
  color: darkgrey
}

p {
    text-align: left
    font-family: fantasy;
    font-size: 14px;
 
    float: left;
    width: 234px;
    margin: 70px;
    border-color: darkgrey;
    border-width: 4px;
    border-style: outset;
    border-radius: 10px;
}
